h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: -18px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 80px;
  color: rgb(167, 167, 167);
  margin-top: -20px;
  padding: 0;
}

.units {
  margin-left: 117px;
  position: relative;
}

.current-date {
  font-size: 16px;
  text-align: center;
  color: white;
  background: rgb(167, 167, 167);
  border-radius: 25px;
  display: block;
  margin: auto;
  margin-top: 27px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: fit-content;
}

.current-icon {
  display: block;
  margin: 0;
  margin-top: -39px;
  margin-bottom: -32px;
  padding: 0;
  width: 150px;
  height: 150px;
}

.wind-icon {
  display: block;
  text-align: left;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.footer {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
